{
  "Servers": {
      "1": {
          "Name": "My PostgreSQL Server",
          "Group": "Servers",
          "Host": "${DB_HOST}",
          "Port": 5432,
          "MaintenanceDB": "${DB_NAME}",
          "Username": "${DB_USER}",
          "SSLMode": "prefer",
          "SSLCompression": 0,
          "Timeout": 10,
          "UseSSHTunnel": 0,
          "TunnelPort": "22",
          "TunnelAuthentication": 0,
          "Password": "${DB_PASSWORD}"
      }
  }
}
