{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${ data?.user_name }</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style scoped>
        .my-text-with-breaks {
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-if="loading" class="loading">Loading...</div>
        <main class="bg-gray-100 bg-opacity-25">
            <div class="lg:w-8/12 lg:mx-auto mb-8">
                <header class="flex flex-wrap items-center p-4 md:py-8">
                    <div class="md:w-3/12 md:ml-16">
                        <img crossorigin="anonymous"
                            class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full border-2 border-pink-600 p-1"
                            :src="data.profile_picture" alt="profile">
                    </div>
                    <!-- profile meta -->
                    <div class="w-8/12 md:w-7/12 ml-4">
                        <div class="md:flex md:flex-wrap md:items-center mb-4">
                            <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
                                ${ data?.user_name }
                            </h2>
                        </div>
                        <!-- post, following, followers list for medium screens -->
                        <ul class="hidden md:flex space-x-8 mb-4">
                            <li>
                                <span class="font-semibold">${ data?.media_count }</span>
                                posts
                            </li>
                            <li>
                                <span class="font-semibold">${ data?.edge_followed_by }</span>
                                followers
                            </li>
                            <li>
                                <span class="font-semibold">${ data?.edge_follow }</span>
                                following
                            </li>
                        </ul>
                        <!-- user meta form medium screens -->
                        <div class="hidden md:block">
                            <h1 class="font-semibold">${data?.full_name}</h1>
                            <span v-if="data?.category_name" class="bioclass">${data?.category_name}</span>
                            <p class="my-text-with-breaks">${data?.biography}</p>
                            <span><strong>${data?.external_url}</strong></span>
                        </div>

                    </div>

                    <!-- user meta form small screens -->
                    <div class="md:hidden text-sm my-2">
                        <h1 class="font-semibold">${data?.full_name}</h1>
                        <span v-if="data?.category_name" class="bioclass">${data?.category_name}</span>
                        <p class="my-text-with-breaks">${data?.biography}</p>
                        <span><strong>${data?.external_url}</strong></span>
                    </div>

                </header>

                <!-- posts -->
                <div class="px-px md:px-3">

                    <!-- user following for mobile only -->
                    <ul class="flex md:hidden justify-around space-x-8 border-t
                    text-center p-2 text-gray-600 leading-snug text-sm">
                        <li>
                            <span class="font-semibold text-gray-800 block">${ data?.media_count }</span>
                            posts
                        </li>

                        <li>
                            <span class="font-semibold text-gray-800 block">${ data?.edge_followed_by }</span>
                            followers
                        </li>
                        <li>
                            <span class="font-semibold text-gray-800 block">${ data?.edge_follow }</span>
                            following
                        </li>
                    </ul>
                    <br>
                    <br>
                    <!-- insta freatures -->
                    <ul class="flex items-center justify-around md:justify-center space-x-12
                        uppercase tracking-widest font-semibold text-xs text-gray-600
                        border-t">
                        <!-- posts tab is active -->
                        <li class="md:border-t md:border-gray-700 md:-mt-px md:text-gray-700">
                            <a class="inline-block p-3" href="#">
                                <i class="fas fa-th-large text-xl md:text-xs"></i>
                                <span class="hidden md:inline">post</span>
                            </a>
                        </li>
                        <li>
                            <a class="inline-block p-3" href="#">
                                <i class="far fa-square text-xl md:text-xs"></i>
                                <span class="hidden md:inline">igtv</span>
                            </a>
                        </li>
                        <li>
                            <a class="inline-block p-3" href="#">
                                <i class="fas fa-user border border-gray-500
                                 px-1 pt-1 rounded text-xl md:text-xs"></i>
                                <span class="hidden md:inline">tagged</span>
                            </a>
                        </li>
                    </ul>
                    <!-- flexbox grid -->
                    <div class="flex flex-wrap -mx-px md:-mx-3">
                        <!-- column -->
                        <div v-for="edge in data?.edges" :key="edge?.id" class="w-1/3 p-px md:px-3">
                            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
                                <img crossorigin="anonymous" class="w-full h-full absolute left-0 top-0 object-cover"
                                    :src="edge?.node?.thumbnail_src" alt="image">
                                <img class=" absolute right-0 top-0 m-1" src="{% static 'images/icons/stack.svg' %}"
                                    width="17px" height="10px" alt="Logo">
                                <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute
                                        left-0 top-0 hidden">
                                    <div class="flex justify-center items-center
                                            space-x-4 h-full">
                                        <span class="p-2 flex justify-center items-end">
                                            <img src="{% static 'images/icons/like.svg' %}" width="23px" alt="Logo"
                                                style="margin-right: 5px;">
                                            <!-- ${edge.node.edge_liked_by.count|format_number} -->
                                            ${console.log(edge.node)}
                                        </span>

                                        <span class="p-2 flex justify-center items-end">
                                            <img src="{% static 'images/icons/comment.svg' %}" width="18px" alt="Logo"
                                                style="margin-right: 5px;">
                                            <!-- ${edge.node.edge_media_to_comment.count|format_number} -->
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    Vue.filter('formatNumber', function (value) {
        if (value < 1000) {
            return String(value);
        } else if (value < 1000000) {
            return (value / 1000).toFixed(1) + 'K';
        } else if (value < 1000000000) {
            return (value / 1000000).toFixed(1) + 'M';
        } else {
            return (value / 1000000000).toFixed(1) + 'B';
        }
    });
    Vue.config.devtools = true
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            data: {
                edges: []
            },
            loading: false,
        },
        created() {
            this.fetchData();
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
        methods: {
            fetchData() {
                this.loading = true;
                const url = `http://localhost:8000/api/fukra_admin`;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        this.data = data
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                        this.loading = false;
                    });
            },
            fetchPaginatedData() {
                this.loading = true;
                const url = `http://localhost:8000/pagination?document_id=17991233890457762&user_id=${this?.data?.id}&end_cursor=${this?.data?.page_info?.end_cursor}`;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        let upcoming_edges = data?.data?.data?.user?.edge_owner_to_timeline_media?.edges
                        this.data.edges = this.data.edges.concat(upcoming_edges);
                        this.data.page_info = data?.data?.data?.user?.edge_owner_to_timeline_media?.page_info
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                        this.loading = false;
                    });
            },
            handleScroll() {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 200 && !this.loading) {
                    this.fetchPaginatedData();
                }
            }
        }
    })
</script>

</html>
