{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="font-custom">
    {{auth_code}}
    {{instagram_response}}
    <div id="app">
        <!-- Section: Design Block -->
        <section class="mb-10 overflow-hidden">
            <!-- Navbar -->
            {% include 'layouts/navbar.html' %}
            <!-- Navbar -->

            <!-- Background image -->
            <div
                class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] h-[500px] bg-[url('https://tecdn.b-cdn.net/img/new/standard/city/078.jpg')]">
                <div
                    class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed bg-[hsla(0,0%,0%,0.75)]">
                    <div class="flex h-full items-center justify-center">
                        <div class="px-6 text-center text-white md:px-12">
                            <h1 class="mt-6 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
                                The best offer on the market <br /><span>for your business</span>
                            </h1>
                            <a class="mb-2 inline-block rounded-full border-2 border-neutral-50 px-[46px] pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 md:mr-2 md:mb-0"
                                data-te-ripple-init data-te-ripple-color="light" href="#!" role="button">Get started</a>
                            <a class="mb-2 inline-block rounded-full border-2 border-neutral-50 px-[46px] pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 md:mr-2 md:mb-0"
                                data-te-ripple-init data-te-ripple-color="light" href="{% url 'instagram_auth' %}" role="button">Login with Instagram</a>
                            <a class="inline-block rounded-full px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-20 hover:text-neutral-200 focus:text-neutral-200 focus:outline-none focus:ring-0 active:text-neutral-300"
                                data-te-ripple-init data-te-ripple-color="light" href="#!" role="button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="-mt-2.5 text-white dark:text-neutral-800 md:-mt-4 lg:-mt-6 xl:-mt-10 h-[50px] scale-[2] origin-[top_center]">
                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                        fill="currentColor"></path>
                </svg>
            </div>
            <!-- Background image -->
        </section>
        <!-- Section: Design Block -->
        <!-- Container for demo purpose -->
        <div class="container my-10 mx-auto md:px-6">
            <h2 class="mb-16 text-center text-6xl font-bold">Blunder</h2>
            <!-- Section: Design Block -->
            <section class="mb-32">
                <!-- Jumbotron -->
                <div class="container mx-auto text-center lg:text-left xl:px-32">
                    <div class="flex grid items-center lg:grid-cols-2">
                        <div class="mb-12 lg:mb-0">
                            <div
                                class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                                <h2 class="mb-8 text-3xl font-bold">Enjoy the moment</h2>
                                <p class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                                    soluta corporis voluptate ab error quam dolores doloremque,
                                    quae consectetur.
                                </p>

                                <div
                                    class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                                    <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        Best team
                                    </p>

                                    <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        Best quality
                                    </p>

                                    <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        Best experience
                                    </p>
                                </div>

                                <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                                    In ac turpis justo. Vivamus auctor quam vitae odio feugiat
                                    pulvinar. Sed semper ligula sed lorem tincidunt dignissim. Name
                                    sed cursus lectus. Proin non rutrum magna. Proin gravida,
                                    justo et imperdiet tristique, turpis nisi viverra est, nec
                                    posuere ex arcu sit amet erat. Sed a dictum sem. Duis pretium
                                    condimentum nulla, ut aliquet erat auctor sed. Aenean
                                    facilisis neque id ligula maximus scelerisque. Nunc sed velit
                                    rhoncus, interdum dolor at, lacinia lacus. Proin eleifend
                                    viverra posuere. Ut commodo risus lacus, ac scelerisque quam
                                    aliquam dictum. Etiam dignissim pulvinar eros eget auctor.
                                    Quisque congue turpis quis libero ullamcorper imperdiet.
                                    Vivamus a orci maximus, dignissim ligula a, congue dui. Morbi
                                    et lectus sit amet neque luctus viverra.
                                </p>
                            </div>
                        </div>

                        <div>
                            <img src="https://mdbcdn.b-cdn.net/img/new/ecommerce/vertical/117.jpg"
                                class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
                        </div>
                    </div>
                </div>
                <!-- Jumbotron -->
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Container for demo purpose -->
        <!-- Container for demo purpose -->
        <div class="container my-24 mx-auto md:px-6">
            <!-- Section: Design Block -->
            <section class="mb-32 text-center lg:text-left">
                <div
                    class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <div class="flex flex-wrap items-center">
                        <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
                            <img src="https://tecdn.b-cdn.net/img/new/ecommerce/vertical/086.jpg"
                                alt="Trendy Pants and Shoes"
                                class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
                        </div>
                        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
                            <div class="px-6 py-12 md:px-12">
                                <h2 class="display-5 mb-6 text-4xl font-bold text-primary dark:text-primary-400">
                                    Why is it so great?
                                </h2>
                                <p class="mb-12 text-neutral-500 dark:text-neutral-300">
                                    Nunc tincidunt vulputate elit. Mauris various purus malesuada
                                    neque iaculis malesuada. Aenean gravida magna orci, non
                                    efficitur est porta id. Donec magna diam.
                                </p>

                                <div class="grid md:grid-cols-3 lg:gap-x-12">
                                    <div class="mb-12 md:mb-0">
                                        <h2 class="mb-4 text-3xl font-bold text-primary dark:text-primary-400">
                                            1000
                                        </h2>
                                        <h5 class="mb-0 text-lg font-medium text-neutral-500 dark:text-neutral-300">
                                            Happy customers
                                        </h5>
                                    </div>

                                    <div class="mb-12 md:mb-0">
                                        <h2 class="mb-4 text-3xl font-bold text-primary dark:text-primary-400">
                                            70%
                                        </h2>
                                        <h5 class="mb-0 text-lg font-medium text-neutral-500 dark:text-neutral-300">
                                            Growth
                                        </h5>
                                    </div>

                                    <div class="">
                                        <h2 class="mb-4 text-3xl font-bold text-primary dark:text-primary-400">
                                            49
                                        </h2>
                                        <h5 class="mb-0 text-lg font-medium text-neutral-500 dark:text-neutral-300">
                                            Projects
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Container for demo purpose -->
        <!-- Container for demo purpose -->
        <div class="container my-24 mx-auto md:px-6">
            <!-- Section: Design Block -->
            <section class="mb-32">
                <div
                    class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('https://mdbcdn.b-cdn.net/img/new/textures/full/66.jpg')] h-[300px]">
                </div>
                <div class="container px-6 md:px-12">
                    <div
                        class="block rounded-lg bg-[hsla(0,0%,100%,0.7)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:py-16 md:px-12 mt-[-100px] backdrop-blur-[30px]">
                        <div class="flex flex-wrap justify-center text-center lg:text-left">
                            <div class="w-full shrink-0 grow-0 basis-auto md:px-6 xl:w-10/12">
                                <div class="grid items-center gap-x-6 lg:grid-cols-2">
                                    <div class="mb-10 lg:mb-0">
                                        <h2 class="text-3xl font-bold">
                                            Do not miss any updates.
                                            <br />
                                            <span class="text-primary dark:text-primary-400">Subscribe to the
                                                newsletter</span>
                                        </h2>
                                    </div>

                                    <div class="mb-6 flex-row md:mb-0 md:flex">
                                        <div class="relative mb-3 w-full md:mr-3 md:mb-0" data-te-input-wrapper-init>
                                            <input type="text"
                                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                                id="exampleFormControlInput2" placeholder="Enter your email" />
                                            <label for="exampleFormControlInput2"
                                                class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Enter
                                                your email
                                            </label>
                                        </div>
                                        <button type="submit"
                                            class="inline-block rounded bg-primary px-7 pt-3 pb-2.5 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                            data-te-ripple-init data-te-ripple-color="light">
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Container for demo purpose -->
        <!-- Container for demo purpose -->
        <div class="container my-24 mx-auto md:px-6">
            <!-- Section: Design Block -->
            <section class="mb-32 text-center">
                <h2 class="mb-16 text-3xl font-bold">
                    Trusted by <u class="">2,000,000+</u> users
                </h2>

                <div class="grid items-center gap-6 md:grid-cols-2 lg:grid-cols-4">
                    <div class="mb-12 lg:mb-0">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/2.png"
                            class="px-6 dark:brightness-150 md:px-12" alt="Nasa - logo" />
                    </div>

                    <div class="mb-12 lg:mb-0">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/1.png"
                            class="px-6 dark:brightness-150 md:px-12" alt="Amazon - logo" />
                    </div>

                    <div class="mb-12 lg:mb-0">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/3.png"
                            class="px-6 dark:brightness-150 md:px-12" alt="Nike - logo" />
                    </div>

                    <div class="mb-12 lg:mb-0">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/landing-page/4.png"
                            class="px-6 dark:brightness-150 md:px-12" alt="Ikea - logo" />
                    </div>
                </div>
            </section>
            <!-- Section: Design Block -->
        </div>
        <!-- Container for demo purpose -->
        {% include 'layouts/footer.html' %}
    </div>
</body>

</html>
