{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="font-custom">
    <section class="h-screen">
        <div class="h-full">
            <!-- Left column container with background-->
            <div class="flex h-full flex-wrap items-center justify-center lg:justify-between">
                <!-- Right column container -->
                <div class="mb-12 md:mb-0 md:w-10/12 lg:w-10/12 xl:w-10/12 mx-auto">
                    <form>
                        <!-- Email input -->
                        <div class="mb-5">
                            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
                          </div>

                        <!-- Login button -->
                        <div class="text-center lg:text-left">

                            <button type="button"
                                class="inline-block w-full rounded bg-blue-700 px-7 pb-2 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-blue-700 transition duration-150 ease-in-out hover:bg-blue-700-accent-300 hover:shadow-blue-700 focus:bg-blue-700-accent-300 focus:shadow-blue-700 focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                                data-twe-ripple-init data-twe-ripple-color="light">
                                Send Magic Link
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
